# LDA Modeling

Analyzing the poetry of Rupi Kaur

Hannah Shlesinger

Dr Adam Anderson

DH100 Summer 2021


Working on LDA Model in this notebook

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Hannah Shlesinger/Jupytr /rupi-kaur.csv')
df.head()

       Collection  Poem Number  ...                  Publisher Publish Date
0  milk and honey            1  ...  Andrews McMeel Publishing         2014
1  milk and honey            2  ...  Andrews McMeel Publishing         2014
2  milk and honey            3  ...  Andrews McMeel Publishing         2014
3  milk and honey            4  ...  Andrews McMeel Publishing         2014
4  milk and honey            5  ...  Andrews McMeel Publishing         2014

[5 rows x 5 columns]

In [3]:
df.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

     index               Collection  ...                  Publisher Publish Date
0        0           milk and honey  ...  Andrews McMeel Publishing         2014
1        1           milk and honey  ...  Andrews McMeel Publishing         2014
2        2           milk and honey  ...  Andrews McMeel Publishing         2014
3        3           milk and honey  ...  Andrews McMeel Publishing         2014
4        4           milk and honey  ...  Andrews McMeel Publishing         2014
..     ...                      ...  ...                        ...          ...
577    577  the sun and her flowers  ...  Andrews McMeel Publishing         2017
578    578  the sun and her flowers  ...  Andrews McMeel Publishing         2017
579    579  the sun and her flowers  ...  Andrews McMeel Publishing         2017
580    580  the sun and her flowers  ...  Andrews McMeel Publishing         2017
581    581  the sun and her flowers  ...  Andrews McMeel Publishing         2017

[582 rows x 6 columns]

In [4]:
print(df.columns)

Index(['Collection', 'Poem Number', 'Text', 'Publisher', 'Publish Date'], dtype='object')

In [5]:
df = df.drop(["Poem Number"], axis=1)
df

                  Collection  ... Publish Date
0             milk and honey  ...         2014
1             milk and honey  ...         2014
2             milk and honey  ...         2014
3             milk and honey  ...         2014
4             milk and honey  ...         2014
..                       ...  ...          ...
577  the sun and her flowers  ...         2017
578  the sun and her flowers  ...         2017
579  the sun and her flowers  ...         2017
580  the sun and her flowers  ...         2017
581  the sun and her flowers  ...         2017

[582 rows x 4 columns]

In [6]:

import gensim
from gensim.utils import simple_preprocess
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = stopwords.words('english')
stop_words.extend(['from', 'subject', 're', 'edu', 'use'])

def sent_to_words(sentences):
    for sentence in sentences:
        # deacc=True removes punctuations
        yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))

def remove_stopwords(texts):
    return [[word for word in simple_preprocess(str(doc)) 
             if word not in stop_words] for doc in texts]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
data = df['Text'].tolist()
data_words = list(sent_to_words(data))

# remove stop words
data_words = remove_stopwords(data_words)

print(data_words[:1][0][:30])

['easy', 'kind', 'people', 'asked', 'milk', 'honey', 'dripped', 'lips', 'answered', 'cause', 'people', 'kind']

In [8]:
import gensim.corpora as corpora

# Create Dictionary
id2word = corpora.Dictionary(data_words)

# Create Corpus
texts = data_words

# Term Document Frequency
corpus = [id2word.doc2bow(text) for text in texts]

# View
print(corpus[:1][0][:30])

[(0, 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 2), (7, 1), (8, 1), (9, 2)]

In [9]:
from pprint import pprint

# number of topics
num_topics = 10

# Build LDA model
lda_model = gensim.models.LdaMulticore(corpus=corpus,
                                       id2word=id2word,
                                       num_topics=num_topics)

# Print the Keyword in the 10 topics
pprint(lda_model.print_topics())
doc_lda = lda_model[corpus]

[(0,
  '0.023*"love" + 0.010*"like" + 0.008*"everything" + 0.007*"someone" + '
  '0.007*"one" + 0.007*"always" + 0.006*"look" + 0.006*"us" + 0.006*"waiting" '
  '+ 0.006*"life"'),
 (1,
  '0.013*"like" + 0.010*"one" + 0.008*"want" + 0.007*"world" + 0.007*"know" + '
  '0.007*"nothing" + 0.006*"us" + 0.006*"life" + 0.006*"still" + 0.006*"make"'),
 (2,
  '0.008*"first" + 0.008*"life" + 0.008*"home" + 0.007*"like" + 0.007*"enough" '
  '+ 0.006*"body" + 0.006*"one" + 0.006*"want" + 0.006*"time" + 0.005*"hair"'),
 (3,
  '0.009*"love" + 0.008*"us" + 0.008*"like" + 0.007*"want" + 0.005*"give" + '
  '0.005*"body" + 0.005*"back" + 0.005*"mother" + 0.005*"enough" + '
  '0.005*"people"'),
 (4,
  '0.017*"like" + 0.010*"want" + 0.008*"body" + 0.007*"life" + 0.006*"one" + '
  '0.006*"eyes" + 0.006*"never" + 0.005*"mother" + 0.005*"said" + '
  '0.005*"home"'),
 (5,
  '0.012*"like" + 0.008*"tell" + 0.007*"nothing" + 0.007*"us" + 0.007*"never" '
  '+ 0.006*"days" + 0.006*"love" + 0.006*"left" + 0.006*"work" + 0.005*"one"'),
 (6,
  '0.010*"love" + 0.010*"want" + 0.009*"everything" + 0.009*"like" + '
  '0.008*"look" + 0.008*"time" + 0.007*"body" + 0.006*"us" + 0.006*"way" + '
  '0.005*"know"'),
 (7,
  '0.021*"love" + 0.010*"life" + 0.007*"think" + 0.007*"like" + 0.007*"way" + '
  '0.006*"one" + 0.006*"would" + 0.006*"mother" + 0.006*"never" + '
  '0.006*"make"'),
 (8,
  '0.014*"like" + 0.013*"love" + 0.010*"life" + 0.006*"open" + 0.006*"time" + '
  '0.006*"still" + 0.006*"back" + 0.005*"want" + 0.005*"people" + '
  '0.005*"women"'),
 (9,
  '0.016*"want" + 0.011*"like" + 0.007*"one" + 0.007*"us" + 0.007*"first" + '
  '0.007*"woman" + 0.007*"every" + 0.006*"could" + 0.006*"life" + '
  '0.006*"mother"')]

In [15]:
!pip install pyLDAvis

Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.7/dist-packages (3.3.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.0.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (57.0.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (0.16.0)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (0.0)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.2.4)
Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (3.6.0)
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (2.7.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.4.1)
Requirement already satisfied: funcy in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.16)
Requirement already satisfied: numpy>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (1.20.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (0.22.2.post1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from pyLDAvis) (2.11.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyLDAvis) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyLDAvis) (2018.9)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim->pyLDAvis) (1.15.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim->pyLDAvis) (5.0.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->pyLDAvis) (2.0.1)

In [20]:
import pickle 
import pyLDAvis

# Visualize the topics
pyLDAvis.enable_notebook()

I stopped here